@model IEnumerable<DMS.Models.ProjectListing>
@{
    Layout = "_layout";
    var strProjectNo = "FirstTimeThrough";
    var strDocFieldTag = "FirstTimeThrough";
}



<h2>Project Listing </h2>


@foreach (var item in Model)
{
    @*<p><text>@item.ProjectNo @strProjectNo</text></p>*@



    @if (strProjectNo != item.ProjectNo.ToString())
    {
        @if (strProjectNo != "FirstTimeThrough")
        {
            @:</li>
            @:</div>
            @:</div>

            @:</ul>
            @:</div>

            @:</div>


        }
        strProjectNo = item.ProjectNo.ToString();
        strDocFieldTag = "FirstTimeThrough";

        @:<div class="panel-heading">
          @:  <h4 class="panel-title">
           @:     <a data-toggle="collapse" data-parent="#level1-accordion" href="#plast@(item.ProjectNo)" class="collapsed">
           @:         <span class="accordian-arrow">
           @:             <i class="fa fa-minus-square-o" aria-hidden="true"></i>
           @:             <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          @:          </span>
                    @item.ProjectNo
         @:       </a>
         @:   </h4>
        @:</div>
        @:<div id="plast@(item.ProjectNo)" class="panel-collapse collapse">
        @: <div class="panel-body">
        @:       <ul class="list-unstyled">
    }


    @if (strDocFieldTag != item.DocFieldTag.ToString())
    {



        @if (strDocFieldTag != "FirstTimeThrough")
        {
            @:</ul>
            @: </div>
            @: </div>
            @:</div>
            @:</div>
            @:</li>


        }
        strDocFieldTag = item.DocFieldTag.ToString();


        @:        <li>
            @:        <div class="panel-group" id="@(item.DocFieldTag)-accordion" role="tablist" aria-multiselectable="true">
                @:         <div class="panel panel-default">
                    @:        <div class="panel-heading" role="tab" id="headingOne">
                        @:            <h5 class="panel-title">
                            @:            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#@(item.DocFieldTag)-accordion" href="#plast@(item.DocFieldTag)" aria-expanded="true" aria-controls="plast-pro-21">
                                @*@:                <span class="accordian-arrow">
                                    @:                 <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                                    @:                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    @:                 </span>*@
                                @item.DocumentType
                                @: </a>
                            @: </h5>
                        @:   </div>

                    @:           <div id="plast@(item.DocFieldTag)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        @:            <div class="panel-body">
                            @:                <ul class="list-unstyled">
     }

        <li>




            <div class="table">
                @*<label>*@
                @*<input type="checkbox">*@
                <Table border="0">
                    <TR BORDER="0">
                        <TD width="5%">&nbsp;</TD>
                        <TD width="15%">@Html.ActionLink(item.DocumentNo, "EditDocument", "Document", new { DocumentID = item.DocumentID }, new { @class = "btn btn-primary" })</TD>
                        <td width="40%">@item.DocumentTitle</td>
                        <TD>@(item.CheckOutBy == null ? "" : item.CheckOutBy)</TD>

                        <td width="15%">@item.DocumentStatus</td>
                        <td width="5%">@item.CurrentRev</td>
                        <td width="10%">@item.Originator</td>
                    </TR>
                </Table>
            @*</label>*@
        </div>
    </li>

}
@*Need to tidy up after the last item has been gone through*@
@if (1 != 2)
{
        @:</div>
        @:</div>
        @:</li>


        @:</ul>
        @:</div>

        @:</div>
}